DATABASE_URL=postgresql://postgres:postgres@localhost:5432/kagu?schema=public
JWT_SECRET=super-secret
PORT=4000
WEB_ORIGIN=http://localhost:3000
STORAGE_ROOT=./storage
NEXT_PUBLIC_API_URL=/api
NEXT_SERVER_API_PROXY_URL=http://127.0.0.1:4000/api
